.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media only screen and (min-width: 768px) {
    flex: 33.3%;
  }
}

.chat{
  justify-content:end;
  color: white;
  border-radius: 15px;
  display: flex;
  max-height: 300px;
  width: 100%;
}

#messages{
  height: auto;
  width: 90%;
  text-align: left;
  overflow: auto;
  background-color: #637b9c;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 5px;
  position: relative;
}

.ChatMessages{
  padding: 0px 5px 0px 5px;
  margin: 0;
}

#messageInput {
  width: 90%;
  background-color: #637b9c;
  border-radius: 0px 0px 15px 15px;
  height: 30px;
  display: flex;
  padding-bottom: 5px;
}

#newMessage {
  width: 100%;
  height: auto;
  resize: none;
  border: none;
  border-radius: 12px;
  margin: 0px 5px 5px 5px;
}

.game {
  justify-content: space-around;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}

.btn {
  width: 100%;
  height: 100%;
}

.playbtn {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
  background-color: #44546a;
  color: white;
  border: none;
  border-radius: 15px;
}

.startGame {
  flex: 1;
  height: 100%;
  width: 90%;
  padding: 20px;
  background-color: #637b9c;
  color: white;
  border-radius: 15px;
  border: none;
}

.startGame:hover {
  cursor: pointer;
  background-color: #44546a;
  transition: linear 0.6s;
}

.top {
  padding-bottom: 5px
}

.bottom {
  padding-top: 5px
}