.flex-container {
    flex-direction: column !important;
}

.startGameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 350px;
    height: 40vh;
    background-color: #44546a;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.text {
    margin-top: 15px;
    text-align: center;
}

#startForm {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    overflow: hidden;
    max-width: 100%;
}

form {
    max-width: 100%;
    display: flex;
}

#cancelForm {
    margin-bottom: 0;
}

input[type=submit] {
    width: 70px;
    height: 30px;
    background-color: #627a9b;
    border: none;
    border-radius: 15px;
    color: white;
}

select {
    margin-right: 5px;
    max-width: 70%;
}

input[type=submit]:hover {
    opacity: 0.6;
    transition: linear 0.4s;
    cursor: pointer;
}